<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @shmarticle.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @shmarticle.body %>
</p>

<%= link_to 'Edit', edit_shmarticle_path(@shmarticle) %> |
<%= link_to 'Back', shmarticles_path %>
