<%# edit.html.erb %>

<h2>Update Article #<%= @article.id %></h2>

<form action="<%= article_path(@article) %>" method="post">
  <input  type="hidden" 
    name="authenticity_token" 
    value="<%= form_authenticity_token %>">
  <input name="_method" type="hidden" value="PATCH">
  <!-- <input type="hidden" name="_token" value="{{ csrf_token() }}"> -->


  <input name="article[title]" type="text" placeholder="Name" value="<%= @article.title %>"><br>

  <textarea rows="4" cols="30" name="article[body]" placeholder="<%= @article.body %>"></textarea>
  <br>

  <input type="submit" value="Submit!">
</form>
