<h1>Update Article <%= @article.id %></h1>

<form action= "<%= article_path %>" method= "post">
	<input type= "text" name= "article[title]" value= "<%= @article.title %>">
	<input type= "textarea" name= "article[body]" value= "<%= @article.body %>">
	<input type= "submit" value= "Update Me!">
	<input type= "hidden" name= "authenticity_token" value= "<%= form_authenticity_token %>">
	<input name= "_method" type= "hidden" value= "patch">
</form>