<h1>Articles#edit</h1>
<%
=begin %>
<%= form_for @article do |article| %>
  <%= article.label :title %>
  <%= article.text_field :title %></br>
  <%= article.label :body %>
  <%= article.text_field :body %></br>
  <%= article.submit "submit" %>
<% end %>
<%
=end %>

<form accept-charset="UTF-8" action="/articles/<%= @article.id %>" method="post">
  <input  type="hidden" 
    name="authenticity_token" 
    value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name= "article[title]" value="<%= @article.title %>">
  <input type="text" name= "article[body]" value="<%= @article.body %>">
  <input type="submit" name="Submit">
</form>