<h1> <%= "Update Article #{@article.id}" %> </h1>

<%= form_tag(article_path, :method => "post") do %>
    <input type="hidden" name="_method" value="patch">
    <%= label_tag(:title, "Title") %> <br>
    <%= text_field_tag(:title, "#{@article.title}") %> <br>
    <%= label_tag(:body, "Body") %> <br>
    <%= text_area_tag(:body, "#{@article.body}") %> <br>
    <%= submit_tag("Submit") %>
<% end %>
