<h1>Edit Article #<%= @article.id %></h1>
<form method="post" action="<%= article_path(@article.id) %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">

  <h3>Title</h3>
  <input type="text" name="title" value="<%= @article.title %>">

  <h3>Body</h3>
  <textarea rows="10" cols="80" name="body"><%= @article.body %></textarea>

  <br>
  <input type="submit" value="Save Changes">
</form>
