<%= form_for(@article) do |a|%>
  <p>
    <%= a.label :title%><br/>
    <%= a.text_field :title%>
  </p>

  <p>
    <%= a.label :body %><br/>
    <%= a.text_area :body %>
  </p>

  <p>
    <%= a.submit %>
  </p>

<% end %>

<!-- <input  type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> -->