<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form action="<%= articles_path %>" method="post">
        <label for="title">Title</label>
        <div><%= @article.title %></div>
        <label for="title">Body</label>
        <div><%= @article.body %></div>
        <%= link_to 'Edit Article', edit_article_path %>
        <%= link_to 'Delete Article', article_path, method: :delete, data: { confirm: "Are you sure?" } %>
      </form>
    </div>
  </div>
</div>
