<!DOCTYPE html>
<html>
	<head>
		<title>Assignment Rails Muscle Memory</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<h1>Assignment Rails Muscle Memory</h1>
		<%= render :partial => 'shared/flash' %>
		<%= render :partial => 'shared/nav' %>
		<%= yield %>
	</body>
</html>
